$white : white;
$black : rgb(152, 152, 152);
$transparent-bg : rgba(255, 255, 255, 0.126);
$transparent : rgba(255, 255, 255, 0.87);
$red : rgb(255, 36, 36);
$green : rgb(36, 180, 39);
$blue : rgb(39, 115, 255);
$yellow : rgb(255, 225, 0);
$grey : rgb(197, 197, 197);

