@use "variables" as v;
@use "mixins" as m;

html{
  background-image: url("../background-pizza.jpg");
  height: 100%;
  display: flex;
  flex-direction: column;
}

*{
  padding: 0;
  margin: 0;
  border: none;
}

body{
  padding: 1rem;
  background-color: v.$transparent-bg;
  height: 100%;
}

#root{
  margin: auto;
}

main{
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  padding: 1rem;
  flex-wrap: wrap-reverse;
}

header{
  background-color: v.$transparent;
  display: flex;
  padding: 1rem;
  span{
    margin: auto;
    font-size: 3rem;
  }
  span:hover{
    cursor: pointer;
  }
}

.btn-red{
  @include m.button(v.$white, v.$red);
} 

.btn-yellow{
  @include m.button(v.$white, v.$yellow);
}

.btn-blue{
  @include m.button(v.$white, v.$blue);
}

.btn-green{
  @include m.button(v.$white, v.$green);
}

.menusList{
  display: flex;
  justify-content: space-between;
  margin: auto;
  width: 100%;
  text-align: center;
  .card {
    width: 30%;
    border-radius: 1rem;
    overflow: hidden;
    transition: all 200ms;
    &:hover{
      transform: scale(1.05);
      box-shadow: 0 0 1rem rgba(0, 0, 0, 0.426);
    }
  }
  .card-body{
    width: 100%;
    color: v.$white;
    border: 0;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem 0;
    transition: all 200ms;
    &:hover{
      cursor: pointer;
      background-color:  v.$transparent-bg;
      
    }
    .icon{
      width: 100%;
      display: flex;
      justify-content: center;
    }
  }
}

.pizzasList{
  width: 70%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1rem;
  .ant-card{
    background-color: v.$white;
    .image{
      width: 100%;
    }
    img{
      width: 100%;
    }
    span{
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
    }
    &:hover{
      cursor: pointer;
    }
  }
}

.order{
  flex: 1;
  background-color: v.$transparent;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  .buttons{
    display: flex;
    width: 100%;
    gap: 0.5rem;
  }
  .nope{
    border: none;
    color: v.$white;
    padding: 0.5rem;
    font-size: 1rem;
    font-weight: bold;
  }
  button{
    flex:1
  }
}

.orderList{
  width: 100%;
  .pizzaItem:not(:first-child){
    border-top: 1px solid rgb(197, 197, 197);
  }
}

.pizzaItem{
  padding: 0.7rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  .title{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .adjust{
    display: flex;
    align-items: center;
    span{
      width: 2rem;
      text-align: center;
      background-color: v.$white;
      padding: 0.4rem 0.5rem;
    }
    button:first-child{
      border-radius: 1rem 0 0 1rem;
    }
    button:last-child{
      border-radius: 0 1rem 1rem 0;
    }

  }
}

.ordersList{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  h2{
    width: 100%;
    text-align: center;
    background-color: white;
    padding: 1rem;
  }
  .buttons{
    display: flex;
    justify-content: space-evenly;
  }
}

table{
  border-collapse: collapse;
  text-align: center;
  background-color: white;
  width: 100%;
  th{
    width: 25%;
    border-bottom: solid 2px black ;
  }
  td, th {
    padding: 0.5rem 1rem;
  }
  tr:not(:first-child){
    border-top: 1px solid rgb(210, 210, 210);
  }
}

.delete{
  width: fit-content;
  margin: auto;
}

.payment{
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: auto;
  gap: 1rem;
  select{
    width: fit-content;
    margin: auto;
  }
  table{
    td{
      padding: 0;
    }
    td:not(:first-child){
      width: 45%;
    }
    img{
      width: 100%;
    }
  }
}

.red{
  background-color: v.$red;
}

.green{
  background-color: v.$green;
}

.blue{
  background-color: v.$blue;
}

.yellow{
  background-color: v.$yellow;
}