html{
  background-color: rgb(255, 224, 188);
}

*{
  padding: 0;
  margin: 0;
}

#root{
  width: 98%;
  margin: auto;
}

main{
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  padding: 1rem;
}

header{
  background-color: rgb(255, 255, 255);
  margin: 1rem auto;
  display: flex;
  padding: 1rem;
  span{
    margin: auto;
    font-size: 3rem;
  }
  span:hover{
    cursor: pointer;
  }
}

.menusList{
  display: flex;
  justify-content: space-between;
  .ant-card{
    width: 32%;
    &:hover{
      cursor: pointer;
    }
  }
}

.pizzasList{
  width: 80%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1rem;
  .ant-card{
    .image{
      width: 100%;
    }
    img{
      width: 100%;
    }
    span{
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
    }
    &:hover{
      cursor: pointer;
    }
  }
}

.order{
  width: flex 1;
  background-color: white;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  .buttons{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 0.5rem;
  }
  button{
    width: 100%;
    border: none;
    color: white;
    padding: 0.5rem;
    font-size: 1rem;
    font-weight: bold;
    &:hover{
      cursor: pointer;
    }
    &.red{
      background-color: rgb(255, 36, 36);
    }
    &.green{
      background-color: rgb(36, 180, 39);
    }
  }
}

.orderList{
  width: 100%;
  .pizzaItem:not(:first-child){
    border-top: 1px solid rgb(197, 197, 197);
  }
}

.pizzaItem{
  padding: 0.7rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  div{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  button{
    width: fit-content;
    background-color: rgb(255, 36, 36) ;
  }
}